.field {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.fieldLabel {
  font-size: 16px;
  line-height: 30px;
  color: #000;
  margin-left: 8px;
}

.fieldValue {
  display: flex;
  align-items: center;
}

.fieldInput {
  width: 70px;
  height: 20px;
  border: 1px solid #fff;
  background: #fafafa;
  outline: none;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 5px 7px;
  border-radius: 5px;
}

.fieldInput:hover  {
  border: 1px solid #888888;
}

.fieldInput:focus  {
  border: 1px solid #000;
}

.fieldCheckbox {
  width: 20px;
  height: 20px;
}

.fielSelect {
  width: 140px; 
  height: 32px;
  border: 1px solid #fff;
  background: #fafafa;
  outline: none;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 5px 7px;
  border-radius: 5px;
}

.fielSelect:hover {
  border: 1px solid #888888;
}

.fielSelect:focus {
  border: 1px solid #000;
}