.menuButtonContainer {
  position: relative;
}

.menuButtonLabel {
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #727272;
  font-weight: 900;
  transition: 100ms;
}

.menuButtonLabel:active {
  transform: scaleX(0.95) scaleY(0.95);
  transition: 100ms;
}

.menuButtonLabel:hover {
  background-color: #f2f2f2;
}

.menuButtonLabelSelected {
  font-size: 14px;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 900;
  background-color: #fff2b2;
  border-radius: 8px 8px 0px 0px;
  transition: 100ms;
  color: #423624;
}
