.menu-item {
  padding: 12px 18px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 300;
  border-bottom: 1px solid #e2e2e2;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #fafafa;
}
