.menu-button-container {
  position: relative;
}

.menu-button-label {
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #727272;
  font-weight: 900;
  transition: 100ms;
}

.menu-button-label:active {
  transform: scaleX(0.95) scaleY(0.95);
  transition: 100ms;
}

.menu-button-label:hover {
  background-color: #f2f2f2;
}

.menu-button-label.selected {
  background-color: #fff2b2;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  transition: 100ms;
  color: #423624;
}
