.content {
  position: relative;
}

.button {
  background: #fafafa;
  border: none;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 123px;
  padding: 3px 6px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fafafa;
}

.buttonLabel {
  color: #000;
}

.selectContent {
  background: #ffffff;
  width: 115px;
  border-radius: 5px;
  top: -11px;
  left: -6px;
  position: absolute;
  z-index: 999;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 7px;
}

.selectItem {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fafafa;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
}

.selectItem:hover {
  background-color: #eeeeee;
}

.button:hover {
  border: 1px solid #888888;
}

.button:focus {
  border: 1px solid #000;
}