.empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: #acacac;
}

.image {
  width: 150px;
  height: auto;
  filter: opacity(0.4);
}