.element {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  transition: 250ms border-color, 250ms transform;
  border: 2px dashed #fff;
  padding: 10px;
}

.element p {
  margin: 0;
  outline: none;
}

.element:hover {
  border: 2px solid #e2e2e2;
  transition: 250ms border-color, 250ms transform;
}

.element.selected {
  border: 2px solid #fff2b2;
  transition: 250ms border-color, 250ms transform;
}

.moving.moving {
  transform: scale(1.1);
  transition: 250ms border-color, 250ms transform;
}

.resizer {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border: 2px solid #fff2b2;
  border-radius: 2px;
}

.rt {
  top: -5px;
  right: -5px;
  cursor: sw-resize;
}

.rb {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.lt {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.lb {
  bottom: -5px;
  left: -5px;
  cursor: ne-resize;
}