.colorPickerDot {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  outline: 1px solid #ffffff;
  cursor: pointer;
}

.container {
  display: flex;
  background-color: #fafafa;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.label {
  font-size: 13px;
  color: #c7c7c7;
  font-weight: bold;
  margin-right: 8px;
  margin-left: 4px;
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  background: none;
  box-sizing: border-box;
}
