.menuButton {
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #727272;
  font-weight: 900;
  transition: 100ms;
  align-items: center;
  user-select: none;
  display: flex;
}

.menuButton:active {
  transform: scaleX(0.95) scaleY(0.95);
  transition: 100ms;
}

.menuButton:hover {
  background-color: #f2f2f2;
}

.buttonIcon {
  margin-right: 8px;
  font-size: 21px;
}
