.header {
  padding: 16px 24px;
  background-color: #2c2c2c;
  /* border-bottom: 1px solid #e2e2e2; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-logo {
  width: 64px;
  margin-right: 16px;
  cursor: pointer;
  transition: 250ms;
}

.app-logo:active {
  transform: scaleX(0.95) scaleY(0.95);
  transition: 250ms;
}

.presentation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.header-button {
  width: 200px;
  font-family: "Montserrat";
  outline: none;
  cursor: pointer;
  padding: 8px 32px;
  background-color: #fccd89;
  border: none;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
}
