.presentationTitle {
  padding-left: 7px;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-family: Montserrat;
  outline: none;
  transition: 250ms;
}

.presentationTitle:hover {
  border-color: #e2e2e2;
  transition: 250ms;
}

.presentationTitle:focus {
  border-color: #ffdd00;
  transition: 250ms;
}
