.slideMiniature {
  width: 250px;
  height: 180px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e2e2;
  cursor: pointer;
  transition: 100ms;
  position: relative;
}

.slideMiniature:hover .slideRemove {
  opacity: 1;
  transition: 200ms;
}

.slideRemove {
  top: 0;
  right: 0;
  position: absolute;
  padding: 8px;
  font-size: 16px;
  color: #c7c7c7;
  opacity: 0;
  transition: 200ms;
}

.slideRemove:hover {
  color: #000;
}

/* .slide-miniature:hover {
  transform: translateY(-2px);
  transition: 100ms;
} */

.slideIndex {
  font-size: 12px;
  margin-right: 12px;
  width: 16px;
  color: #c7c7c7;
}

.slidePreview {
  display: flex;
  margin-left: -24px;
  padding-left: 24px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0 8px 8px 0;
}

.slidePreviewActive {
  background-color: #fff2b2;
}
