.form {
  width: 100%;
}

.header-form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.header-form-icon {
  border: none;
  outline: none;
  background-color: #fafafa;
  color: #888888;
  padding: 8px;
  border-radius: 8px;
  transition: 250ms;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.header-form-title {
  font-size: 16px;
  line-height: 30px;
  color: #000;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #888888;
  margin: 15px 0 15px 0;
}