.player {
  aspect-ratio: 16 / 9;
  width: 860px;
  position: relative;
  background-color: #fff;
  user-select: none;
  overflow: hidden;
}

.player * {
  position: absolute;
}

.controls {
  position: absolute;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  opacity: 0.3;
  transition: 250ms;
  align-items: center;
}

.controls:hover {
  opacity: 1;
  transition: 250ms;
}

.controlButton {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: 250ms;
}

.controlButton:hover {
  color: rgba(255, 255, 255, 1);
  transition: 250ms;
}

.controlsLabel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 0 8px;
}

.playerContainer {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
