.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f1f1f2;
  user-select: none;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.playerContainer {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}