.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f1f1f2;
  user-select: none;
  overflow: hidden;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
