.appActionBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 24px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.appActions {
  display: flex;
  justify-content: space-between;
}

.appActionsRigth {
  margin-left: 75px;
}
