.appActionBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 12px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.appActionsRigth {
  display: flex;
  flex-direction: row;
  margin-left: 17px;
}
